<div class="row">
<div class="col-md-6">
<carousel [interval]="myInterval" [noWrap] = "noWrapSlides">
 <slide *ngFor="#slidez of slides; #index=index"
 				[active]="slidez.active">
 	<!-- 	<img src="slidez.image" style="margin: auto;"> -->
	<img src="app/images/2016.jpg" style="margin: auto;">
 	<!-- 	<div class="carousel-caption">
 		<h4> Slide {{index}}</h4>
 		<p>{{slidez.text}}</p>
 		</div> -->

 </slide>

</carousel>
</div>
</div>


  <div class="col-md-6">
    <button type="button" class="btn btn-info"
            (click)="addSlide()">Add Slide
    </button>

Interval, in milliseconds: <input type="number" class="form-control" [(ngModel)]="myInterval">

    <br/>Enter a negative number or 0 to stop the interval.
  </div>


